<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Masterpage.master.cs" Inherits="StudentsInformationSystem.Masterpage" %>

<!DOCTYPE html>

<html>
<head runat="server">
     <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Students' Information System</title>
    C:\Users\Osazee\source\repos\StudentsInformationSystem\bootsraptable.css
    <%--C:\Users\oz\Source\Repos\UNIBENTranscrip\UNIBENTranscrip\bootsraptable.css--%>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <!-- =======================================================
    Theme Name: Multi
    Theme URL: https://bootstrapmade.com/multi-responsive-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    ==========================================================-->
    

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
   </head>
<body>
    <form id="form1" runat="server">
        <div>
             <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <a href="index.aspx"><h1><span>UNIBEN TRANSCRIPT SYSTEM</span></h1></a>
                <br />
              <a href="index.aspx"><h1><span>STUDENTS'</span> INFORMATION UNIT</h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="default.aspx" class="active">Home</a></li>
               <li role="presentation">
                   <asp:LinkButton ID="lnkdashboard" runat="server" Visible="False" PostBackUrl="~/dashboard.aspx">Dashboard</asp:LinkButton></li>
               <!-- <li role="presentation"><a href="department.aspx">Departments</a></li>
                <li role="presentation"><a href="session.aspx">Session</a></li>
                <li role="presentation"><a href="semester.aspx">Semester</a></li>
                 <li role="presentation"><a href="students.aspx">Students</a></li>
                 <li role="presentation"><a href="scores.aspx">Scores</a></li>
                 <li role="presentation"><a href="transcript.aspx">Transcript</a></li>
                  <li role="presentation"><a href="user.aspx">user</a></li>
                  <li role="presentation"> -->
                   <li>   <asp:LinkButton ID="lnklogin" runat="server" PostBackUrl="~/login.aspx">Login</asp:LinkButton></li>
                   <li>
                      <asp:LinkButton ID="lnklogout" runat="server" Visible="False" PostBackUrl="~/login.aspx">Logout</asp:LinkButton></li>
                   <li>
                      <asp:LinkButton ID="lnkusername" runat="server" Visible="False">Username</asp:LinkButton></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
                  
</header>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
           <footer>
    <div class="footer">
      <div class="container">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
          <h2>Recent News</h2>
         
          <ul class="social-network">
            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
          </ul>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
          <h3>RECENT POSTS</h3>
          <ul>
            <li>Awesome Design with Overviews</li>
            <li>Great Design with Features </li>
            
            <li>Limitless functions & Works </li>
           
          </ul>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
          <h3>CONTACT INFO</h3>
          <ul>
            <li><i class="fa fa-home fa-2x"></i> Located in Ugbowo Along Uselu Lagos Road</li>
           
            <li><i class="fa fa-phone fa-2x"></i> +38 000 129900</li>
            
            <li><i class="fa fa-envelope fa-2x"></i> www.uniben.edu.ng.com</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            &copy;OZ Concepts 2019. All Rights Reserved.
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Multi
              -->
             Designed by <!-- <a href="https://bootstrapmade.com/--> Osazee Isere <!--</a>-->
            </div>
          </div>
          <div class="col-md-6">
            <ul class="pull-right">
              <li><a href="default.aspx">Home</a></li>
              <li><a href="students.aspx">Students</a></li>
              <li><a href="department.aspx">Departments</a></li>
              <li><a href="session.aspx">Session</a></li>
              <%--<li><a href="transcript.aspx">Transcript</a></li>--%>
              <li role="presentation"><a href="user.aspx">user</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right">
          <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
        </div>
      </div>
    </div>
  </footer>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-2.1.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/functions.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>
</html>
